In [1]:
print("Shivji Singh")

Shivji Singh

In [13]:
import pandas as pd
csv_1 =pd.read_csv("D:\\LearnAnalyst\\WorkData\\pizza_sales\\pizzas.csv")
csv_1

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [14]:
csv_1.index

RangeIndex(start=0, stop=96, step=1)

In [15]:
csv_1.columns

Index(['pizza_id', 'pizza_type_id', 'size', 'price'], dtype='object')

In [16]:
csv_1.describe()

           price
count  96.000000
mean   16.440625
std     4.090266
min     9.750000
25%    12.500000
50%    16.250000
75%    20.250000
max    35.950000

In [20]:
csv_1.head(2)

    pizza_id pizza_type_id size  price
0  bbq_ckn_s       bbq_ckn    S  12.75
1  bbq_ckn_m       bbq_ckn    M  16.75

In [22]:
csv_1.tail(10)

         pizza_id pizza_type_id size  price
86     mexicana_l      mexicana    L  20.25
87   spin_pesto_s    spin_pesto    S  12.50
88   spin_pesto_m    spin_pesto    M  16.50
89   spin_pesto_l    spin_pesto    L  20.75
90  spinach_fet_s   spinach_fet    S  12.00
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

In [27]:
csv_1[4:10]

        pizza_id pizza_type_id size  price
4     cali_ckn_m      cali_ckn    M  16.75
5     cali_ckn_l      cali_ckn    L  20.75
6  ckn_alfredo_s   ckn_alfredo    S  12.75
7  ckn_alfredo_m   ckn_alfredo    M  16.75
8  ckn_alfredo_l   ckn_alfredo    L  20.75
9    ckn_pesto_s     ckn_pesto    S  12.75

In [28]:
csv_1.to_numpy()

array([['bbq_ckn_s', 'bbq_ckn', 'S', 12.75],
       ['bbq_ckn_m', 'bbq_ckn', 'M', 16.75],
       ['bbq_ckn_l', 'bbq_ckn', 'L', 20.75],
       ['cali_ckn_s', 'cali_ckn', 'S', 12.75],
       ['cali_ckn_m', 'cali_ckn', 'M', 16.75],
       ['cali_ckn_l', 'cali_ckn', 'L', 20.75],
       ['ckn_alfredo_s', 'ckn_alfredo', 'S', 12.75],
       ['ckn_alfredo_m', 'ckn_alfredo', 'M', 16.75],
       ['ckn_alfredo_l', 'ckn_alfredo', 'L', 20.75],
       ['ckn_pesto_s', 'ckn_pesto', 'S', 12.75],
       ['ckn_pesto_m', 'ckn_pesto', 'M', 16.75],
       ['ckn_pesto_l', 'ckn_pesto', 'L', 20.75],
       ['southw_ckn_s', 'southw_ckn', 'S', 12.75],
       ['southw_ckn_m', 'southw_ckn', 'M', 16.75],
       ['southw_ckn_l', 'southw_ckn', 'L', 20.75],
       ['thai_ckn_s', 'thai_ckn', 'S', 12.75],
       ['thai_ckn_m', 'thai_ckn', 'M', 16.75],
       ['thai_ckn_l', 'thai_ckn', 'L', 20.75],
       ['big_meat_s', 'big_meat', 'S', 12.0],
       ['big_meat_m', 'big_meat', 'M', 16.0],
       ['big_meat_l', 'big_meat', 'L', 20.5],
       ['classic_dlx_s', 'classic_dlx', 'S', 12.0],
       ['classic_dlx_m', 'classic_dlx', 'M', 16.0],
       ['classic_dlx_l', 'classic_dlx', 'L', 20.5],
       ['hawaiian_s', 'hawaiian', 'S', 10.5],
       ['hawaiian_m', 'hawaiian', 'M', 13.25],
       ['hawaiian_l', 'hawaiian', 'L', 16.5],
       ['ital_cpcllo_s', 'ital_cpcllo', 'S', 12.0],
       ['ital_cpcllo_m', 'ital_cpcllo', 'M', 16.0],
       ['ital_cpcllo_l', 'ital_cpcllo', 'L', 20.5],
       ['napolitana_s', 'napolitana', 'S', 12.0],
       ['napolitana_m', 'napolitana', 'M', 16.0],
       ['napolitana_l', 'napolitana', 'L', 20.5],
       ['pep_msh_pep_s', 'pep_msh_pep', 'S', 11.0],
       ['pep_msh_pep_m', 'pep_msh_pep', 'M', 14.5],
       ['pep_msh_pep_l', 'pep_msh_pep', 'L', 17.5],
       ['pepperoni_s', 'pepperoni', 'S', 9.75],
       ['pepperoni_m', 'pepperoni', 'M', 12.5],
       ['pepperoni_l', 'pepperoni', 'L', 15.25],
       ['the_greek_s', 'the_greek', 'S', 12.0],
       ['the_greek_m', 'the_greek', 'M', 16.0],
       ['the_greek_l', 'the_greek', 'L', 20.5],
       ['the_greek_xl', 'the_greek', 'XL', 25.5],
       ['the_greek_xxl', 'the_greek', 'XXL', 35.95],
       ['brie_carre_s', 'brie_carre', 'S', 23.65],
       ['calabrese_s', 'calabrese', 'S', 12.25],
       ['calabrese_m', 'calabrese', 'M', 16.25],
       ['calabrese_l', 'calabrese', 'L', 20.25],
       ['ital_supr_s', 'ital_supr', 'S', 12.5],
       ['ital_supr_m', 'ital_supr', 'M', 16.5],
       ['ital_supr_l', 'ital_supr', 'L', 20.75],
       ['peppr_salami_s', 'peppr_salami', 'S', 12.5],
       ['peppr_salami_m', 'peppr_salami', 'M', 16.5],
       ['peppr_salami_l', 'peppr_salami', 'L', 20.75],
       ['prsc_argla_s', 'prsc_argla', 'S', 12.5],
       ['prsc_argla_m', 'prsc_argla', 'M', 16.5],
       ['prsc_argla_l', 'prsc_argla', 'L', 20.75],
       ['sicilian_s', 'sicilian', 'S', 12.25],
       ['sicilian_m', 'sicilian', 'M', 16.25],
       ['sicilian_l', 'sicilian', 'L', 20.25],
       ['soppressata_s', 'soppressata', 'S', 12.5],
       ['soppressata_m', 'soppressata', 'M', 16.5],
       ['soppressata_l', 'soppressata', 'L', 20.75],
       ['spicy_ital_s', 'spicy_ital', 'S', 12.5],
       ['spicy_ital_m', 'spicy_ital', 'M', 16.5],
       ['spicy_ital_l', 'spicy_ital', 'L', 20.75],
       ['spinach_supr_s', 'spinach_supr', 'S', 12.5],
       ['spinach_supr_m', 'spinach_supr', 'M', 16.5],
       ['spinach_supr_l', 'spinach_supr', 'L', 20.75],
       ['five_cheese_s', 'five_cheese', 'S', 12.5],
       ['five_cheese_m', 'five_cheese', 'M', 15.5],
       ['five_cheese_l', 'five_cheese', 'L', 18.5],
       ['four_cheese_s', 'four_cheese', 'S', 11.75],
       ['four_cheese_m', 'four_cheese', 'M', 14.75],
       ['four_cheese_l', 'four_cheese', 'L', 17.95],
       ['green_garden_s', 'green_garden', 'S', 12.0],
       ['green_garden_m', 'green_garden', 'M', 16.0],
       ['green_garden_l', 'green_garden', 'L', 20.25],
       ['ital_veggie_s', 'ital_veggie', 'S', 12.75],
       ['ital_veggie_m', 'ital_veggie', 'M', 16.75],
       ['ital_veggie_l', 'ital_veggie', 'L', 21.0],
       ['mediterraneo_s', 'mediterraneo', 'S', 12.0],
       ['mediterraneo_m', 'mediterraneo', 'M', 16.0],
       ['mediterraneo_l', 'mediterraneo', 'L', 20.25],
       ['mexicana_s', 'mexicana', 'S', 12.0],
       ['mexicana_m', 'mexicana', 'M', 16.0],
       ['mexicana_l', 'mexicana', 'L', 20.25],
       ['spin_pesto_s', 'spin_pesto', 'S', 12.5],
       ['spin_pesto_m', 'spin_pesto', 'M', 16.5],
       ['spin_pesto_l', 'spin_pesto', 'L', 20.75],
       ['spinach_fet_s', 'spinach_fet', 'S', 12.0],
       ['spinach_fet_m', 'spinach_fet', 'M', 16.0],
       ['spinach_fet_l', 'spinach_fet', 'L', 20.25],
       ['veggie_veg_s', 'veggie_veg', 'S', 12.0],
       ['veggie_veg_m', 'veggie_veg', 'M', 16.0],
       ['veggie_veg_l', 'veggie_veg', 'L', 20.25]], dtype=object)

In [31]:
import numpy as np
v=np.asarray(csv_1)
v

array([['bbq_ckn_s', 'bbq_ckn', 'S', 12.75],
       ['bbq_ckn_m', 'bbq_ckn', 'M', 16.75],
       ['bbq_ckn_l', 'bbq_ckn', 'L', 20.75],
       ['cali_ckn_s', 'cali_ckn', 'S', 12.75],
       ['cali_ckn_m', 'cali_ckn', 'M', 16.75],
       ['cali_ckn_l', 'cali_ckn', 'L', 20.75],
       ['ckn_alfredo_s', 'ckn_alfredo', 'S', 12.75],
       ['ckn_alfredo_m', 'ckn_alfredo', 'M', 16.75],
       ['ckn_alfredo_l', 'ckn_alfredo', 'L', 20.75],
       ['ckn_pesto_s', 'ckn_pesto', 'S', 12.75],
       ['ckn_pesto_m', 'ckn_pesto', 'M', 16.75],
       ['ckn_pesto_l', 'ckn_pesto', 'L', 20.75],
       ['southw_ckn_s', 'southw_ckn', 'S', 12.75],
       ['southw_ckn_m', 'southw_ckn', 'M', 16.75],
       ['southw_ckn_l', 'southw_ckn', 'L', 20.75],
       ['thai_ckn_s', 'thai_ckn', 'S', 12.75],
       ['thai_ckn_m', 'thai_ckn', 'M', 16.75],
       ['thai_ckn_l', 'thai_ckn', 'L', 20.75],
       ['big_meat_s', 'big_meat', 'S', 12.0],
       ['big_meat_m', 'big_meat', 'M', 16.0],
       ['big_meat_l', 'big_meat', 'L', 20.5],
       ['classic_dlx_s', 'classic_dlx', 'S', 12.0],
       ['classic_dlx_m', 'classic_dlx', 'M', 16.0],
       ['classic_dlx_l', 'classic_dlx', 'L', 20.5],
       ['hawaiian_s', 'hawaiian', 'S', 10.5],
       ['hawaiian_m', 'hawaiian', 'M', 13.25],
       ['hawaiian_l', 'hawaiian', 'L', 16.5],
       ['ital_cpcllo_s', 'ital_cpcllo', 'S', 12.0],
       ['ital_cpcllo_m', 'ital_cpcllo', 'M', 16.0],
       ['ital_cpcllo_l', 'ital_cpcllo', 'L', 20.5],
       ['napolitana_s', 'napolitana', 'S', 12.0],
       ['napolitana_m', 'napolitana', 'M', 16.0],
       ['napolitana_l', 'napolitana', 'L', 20.5],
       ['pep_msh_pep_s', 'pep_msh_pep', 'S', 11.0],
       ['pep_msh_pep_m', 'pep_msh_pep', 'M', 14.5],
       ['pep_msh_pep_l', 'pep_msh_pep', 'L', 17.5],
       ['pepperoni_s', 'pepperoni', 'S', 9.75],
       ['pepperoni_m', 'pepperoni', 'M', 12.5],
       ['pepperoni_l', 'pepperoni', 'L', 15.25],
       ['the_greek_s', 'the_greek', 'S', 12.0],
       ['the_greek_m', 'the_greek', 'M', 16.0],
       ['the_greek_l', 'the_greek', 'L', 20.5],
       ['the_greek_xl', 'the_greek', 'XL', 25.5],
       ['the_greek_xxl', 'the_greek', 'XXL', 35.95],
       ['brie_carre_s', 'brie_carre', 'S', 23.65],
       ['calabrese_s', 'calabrese', 'S', 12.25],
       ['calabrese_m', 'calabrese', 'M', 16.25],
       ['calabrese_l', 'calabrese', 'L', 20.25],
       ['ital_supr_s', 'ital_supr', 'S', 12.5],
       ['ital_supr_m', 'ital_supr', 'M', 16.5],
       ['ital_supr_l', 'ital_supr', 'L', 20.75],
       ['peppr_salami_s', 'peppr_salami', 'S', 12.5],
       ['peppr_salami_m', 'peppr_salami', 'M', 16.5],
       ['peppr_salami_l', 'peppr_salami', 'L', 20.75],
       ['prsc_argla_s', 'prsc_argla', 'S', 12.5],
       ['prsc_argla_m', 'prsc_argla', 'M', 16.5],
       ['prsc_argla_l', 'prsc_argla', 'L', 20.75],
       ['sicilian_s', 'sicilian', 'S', 12.25],
       ['sicilian_m', 'sicilian', 'M', 16.25],
       ['sicilian_l', 'sicilian', 'L', 20.25],
       ['soppressata_s', 'soppressata', 'S', 12.5],
       ['soppressata_m', 'soppressata', 'M', 16.5],
       ['soppressata_l', 'soppressata', 'L', 20.75],
       ['spicy_ital_s', 'spicy_ital', 'S', 12.5],
       ['spicy_ital_m', 'spicy_ital', 'M', 16.5],
       ['spicy_ital_l', 'spicy_ital', 'L', 20.75],
       ['spinach_supr_s', 'spinach_supr', 'S', 12.5],
       ['spinach_supr_m', 'spinach_supr', 'M', 16.5],
       ['spinach_supr_l', 'spinach_supr', 'L', 20.75],
       ['five_cheese_s', 'five_cheese', 'S', 12.5],
       ['five_cheese_m', 'five_cheese', 'M', 15.5],
       ['five_cheese_l', 'five_cheese', 'L', 18.5],
       ['four_cheese_s', 'four_cheese', 'S', 11.75],
       ['four_cheese_m', 'four_cheese', 'M', 14.75],
       ['four_cheese_l', 'four_cheese', 'L', 17.95],
       ['green_garden_s', 'green_garden', 'S', 12.0],
       ['green_garden_m', 'green_garden', 'M', 16.0],
       ['green_garden_l', 'green_garden', 'L', 20.25],
       ['ital_veggie_s', 'ital_veggie', 'S', 12.75],
       ['ital_veggie_m', 'ital_veggie', 'M', 16.75],
       ['ital_veggie_l', 'ital_veggie', 'L', 21.0],
       ['mediterraneo_s', 'mediterraneo', 'S', 12.0],
       ['mediterraneo_m', 'mediterraneo', 'M', 16.0],
       ['mediterraneo_l', 'mediterraneo', 'L', 20.25],
       ['mexicana_s', 'mexicana', 'S', 12.0],
       ['mexicana_m', 'mexicana', 'M', 16.0],
       ['mexicana_l', 'mexicana', 'L', 20.25],
       ['spin_pesto_s', 'spin_pesto', 'S', 12.5],
       ['spin_pesto_m', 'spin_pesto', 'M', 16.5],
       ['spin_pesto_l', 'spin_pesto', 'L', 20.75],
       ['spinach_fet_s', 'spinach_fet', 'S', 12.0],
       ['spinach_fet_m', 'spinach_fet', 'M', 16.0],
       ['spinach_fet_l', 'spinach_fet', 'L', 20.25],
       ['veggie_veg_s', 'veggie_veg', 'S', 12.0],
       ['veggie_veg_m', 'veggie_veg', 'M', 16.0],
       ['veggie_veg_l', 'veggie_veg', 'L', 20.25]], dtype=object)